<% provide(:page_id, 'Users') %>
<h1 class="center">Users archive</h1>
<hr>
<div align="center">
  <%= will_paginate %>
</div>
    <%= render 'user', obj: @users %>
<div align="center">
    <%= will_paginate %>
</div>
