<% provide(:page_id, 'Buy & Sell') %>
<h1 class="center">MarketListings</h1>
<hr>
<div align="center">
  <%= will_paginate %>
</div>
<%= render 'declaration', obj: @declarations %>
<div align="center">
  <%= will_paginate %>
</div>