<h1 class="center">Revealing all declarations</h1>
<hr>
<div align="center">
  <%= will_paginate %>
</div>
<%= render 'declaration', obj: @declarations %>
<div align="center">
  <%= will_paginate %>
</div>
