<h1 class="center">Give us feedback!</h1>
<hr>
<p class="center plain">
  Seriously, we would love you're feedback. This site is brand new and we'd love to know what you think.
  You're opinions are vital to our success and you're entertainment!
</p>