<div class="center jumbotron">
  <h1>Welcome Back!</h1>
  <p>We'll pretend you're not procrastinating.</p>
  <p class="small">New to the site?</p>
  <%= link_to 'Join us', 'signup', class: 'btn btn-primary btn-lg btn-xlg' %>
</div>
