@import "bootstrap/dist/css/bootstrap";

#logo {
  float: left;
  font-family: Atomic Age, cursive;
  font-size: 1.7em;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  opacity: 0.5;
  text-decoration: none;
}

#background {
  background-color: #004664;
}

.gradient {
  background: -webkit-linear-gradient(bottom, #00FFFF, #000000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #00FFFF, #000000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #00FFFF, #000000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #00FFFF, #000000); /* Standard syntax (must be last) */
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  opacity: 0.9;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset_url('fox.jpeg');
  background-size: cover;
  height: 575px;
  color: #FFFFFF;
}
.btn-xlg {
  background-color: black;
  border: none;
}

.btn-xlg:hover {
  background-color: dimgray;
}

.btn-primary {
  background-color: black;
  border: none;
}

.btn-primary:hover {
  background-color: dimgrey;
  border: none;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #EAEAEA;
  padding-top: 15px;
  padding-bottom: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.well {
  background-color: #C3C3C3;
  border-color: #323232;
}

.title {
  color: #C3C3C3;
}

.plain {
  color: #C3C3C3;
}

h1 {
  margin-top: 0;
  color: #C3C3C3;
}

h2 {
  color: #C3C3C3;
}

body, html {
  min-height: 100%;
}

footer {
  margin-top: 40px;
  padding-top: 5px;
  border-top: 1px solid #C3C3C3;
  color: #A0A0A0;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

btn-row ul{
  list-style: none;
}

btn-row ul li {
  float: left;
  margin-left: 15px;
}
