footer {
  margin-top: 40px;
  padding-top: 5px;
  border-top: 1px solid #C3C3C3;
  color: #A0A0A0;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}